/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );
// @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";
// hr{
//     width: 10%;
//     height: 2px;
//     margin: auto;
//     color: #FBDF07;
    
// }
.pcolor{
    text-align: center;
    font-size:3rem;
color:#FBDF07;
}
